* {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.nav {
	background: #41b3a3;
	color: white;
	font-size: 20px;
}
.footer {
	background: #41b3a3;
	color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}
svg {
	margin: 5px;
}

.text-big {
	font-size: 20px;
}
.text-big h1 {
	font-size: 44px;
}
.text-small {
	font-size: 12px;
}

.py-1 {
	padding-top: 2rem;
	padding-bottom: 4rem;
}

.viz {
	margin-top: 5em;
	padding: 50px;
}

.viz h1 {
	font-size: 30px;
	color: #41b3a3;
}

.viz img {
	display: block;
	margin: auto;
	width: 40%;
}

#hat {
	display: flex;
	margin: auto;
	height: 50px;
	transform: translateY(10px);
}

.rotateHover:hover {
	animation: rotate 2s ease 1;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#git {
	display: block;
	margin: auto;
}

.themBoys {
	margin-top: 1em;
	width: 80%;
	display: flex;
	margin: auto;
	margin-top: 1em;
}

.boywiz {
	width: 20%;
	font-size: 20px;
	text-align: center;
	margin: auto;
}

.boywiz img {
	width: 100%;
	border-radius: 10px;
}

.boywiz:hover {
	animation: rotate 3s ease 1;
}

.disclaimer {
	color: #fff;
	width: 80%;
	margin: auto;
	margin-top: 2em;
}

.disclaimer p {
	margin-top: 10px;
	font-size: 15px;
	text-align: center;
}

.disclaimer h1 {
	font-size: 20px;
}

.sankey_stroke:hover {
	opacity: 0.6;
}

rect:hover {
	opacity: 0.6;
}

.multiselect-search {
	width: 100% !important;
}

#sankey_env {
	display: none;
	height: 80%;
	width: 100%;
}

#sankey_laod {
	height: 50%;
}

.loader {
	margin-top: 100px;
	animation: grow 2s linear infinite;
}

@keyframes grow {
	0% {
		transform: scale(0.5) rotate(0deg);
	}
	50% {
		transform: scale(1) rotate(180deg);
	}
	100% {
		transform: scale(0.5) rotate(360deg);
	}
}

.info {
	display: inline-block;
	height: 20px;
	width: 20px;
}

.infoText {
	margin: 5px;
	background-color: #41b3a4;
	font-style: bold;
	font-family: sans-serif;
}

.multiselect-container {
	max-width: 400px;
}

.bar_hover:hover text {
	display: block;
}

.bar_hover text {
	display: none;
	fill: black;
}

.bar_hover #rect_background {
	display: none;
}

.bar_hover:hover #rect_background {
	display: block;
}

.wizwiz {
	display: none;
}

.boywiz:hover .wizwiz {
	display: block;
}

.boywiz:hover img {
	display: none;
}

.dot:hover {
	r: 9;
	opacity: 1;
}
.dot {
	opacity: 0.4;
	transition: r 0.5s, opacity 0.5s;
}
.line {
	opacity: 0.5;
	transition: stroke-width 0.3s, opacity 0.3s;
}
.line:hover {
	opacity: 1;
	stroke-width: 3;
}
